@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}
@font-face {
    font-family: "GeistPixelGrid";
    src: url("./assets/fonts/GeistPixel-Grid.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("./assets/fonts/Geist-Regular.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-heading: "GeistPixelGrid", sans-serif;
    --font-display: "Geist", sans-serif;
}
